[globals]
# Ricoh THETA Z1 dual-fisheye DNG profile.
black = 256
# Usable RAW range above black; mergehdrcore receives absolute white 3256.
white = 3000
colorspace = rad
demosaic = dht
merge_weight = linearhdr
saturation = 0.01

dual_fisheye = True
crop_left = 115 115 3418 3418
crop_right = 3763 115 3418 3418
projection_source_radius = 1708.8
projection_target_radius = 1709
projection_coefficients = +1.052032486003 -0.452265021043 +0.652881952948 -0.506612422577 +0.253963004669
